workflow_cutucadas.json
{
  "name": "Bot Ana Julia - Sistema de Cutucadas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE ultima_interacao < NOW() - INTERVAL '15 minutes' AND status = 'ATIVO' AND cutucadas_enviadas < 3 AND etapa < 7 AND is_sending_sequence = false AND processando = false",
        "options": {}
      },
      "id": "buscar-inativos-002",
      "name": "1. Buscar Leads Inativos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_SUA_CREDENCIAL_SUPABASE",
          "name": "Supabase Ana Julia"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Verificar se há leads inativos\nconst results = $input.all();\n\nif (!results || results.length === 0) {\n  console.log('✅ Nenhum lead inativo no momento');\n  return [];\n}\n\nconst leads = results[0].json;\nconst leadsArray = Array.isArray(leads) ? leads : [leads];\n\nif (leadsArray.length === 0) {\n  console.log('✅ Nenhum lead inativo no momento');\n  return [];\n}\n\nconsole.log(`📢 ${leadsArray.length} leads inativos encontrados`);\n\nreturn leadsArray.map(lead => ({ json: lead }));"
      },
      "id": "processar-leads-003",
      "name": "2. Processar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// ESCOLHER MENSAGEM DE CUTUCADA\n// ============================================\n\nconst lead = $json;\nconst cutucada = lead.cutucadas_enviadas || 0;\n\nconst mensagens = [\n  'mor? me deixou no vacuoooo 😢',\n  'você não gostou de mim ? 🥺',\n  'to achando que você não gosta de mulher assim não é? kkkk'\n];\n\nconst mensagem = mensagens[cutucada] || mensagens[2];\n\nconsole.log(`📢 Enviando cutucada ${cutucada + 1}/3 para ${lead.chat_id}`);\n\nreturn [{\n  json: {\n    chatId: lead.chat_id.toString(),\n    mensagem,\n    cutucadaNumero: cutucada + 1,\n    leadId: lead.id\n  }\n}];"
      },
      "id": "escolher-mensagem-004",
      "name": "3. Escolher Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {}
      },
      "id": "enviar-cutucada-005",
      "name": "4. Enviar Cutucada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_SUA_CREDENCIAL_TELEGRAM",
          "name": "Telegram Ana Julia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET cutucadas_enviadas = cutucadas_enviadas + 1, ultima_interacao = NOW() WHERE chat_id = $1",
        "queryParameters": "={{ { \"values\": [$json.chatId] } }}"
      },
      "id": "incrementar-contador-006",
      "name": "5. Incrementar Contador",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_SUA_CREDENCIAL_SUPABASE",
          "name": "Supabase Ana Julia"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "console.log(`✅ Cutucada ${$json.cutucadaNumero} enviada para ${$json.chatId}`);\n\nreturn [{ json: $json }];"
      },
      "id": "log-sucesso-007",
      "name": "6. Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "1. Buscar Leads Inativos", "type": "main", "index": 0 }]]
    },
    "1. Buscar Leads Inativos": {
      "main": [[{ "node": "2. Processar Leads", "type": "main", "index": 0 }]]
    },
    "2. Processar Leads": {
      "main": [[{ "node": "3. Escolher Mensagem", "type": "main", "index": 0 }]]
    },
    "3. Escolher Mensagem": {
      "main": [[{ "node": "4. Enviar Cutucada", "type": "main", "index": 0 }]]
    },
    "4. Enviar Cutucada": {
      "main": [[{ "node": "5. Incrementar Contador", "type": "main", "index": 0 }]]
    },
    "5. Incrementar Contador": {
      "main": [[{ "node": "6. Log Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T00:00:00.000Z",
  "versionId": "1"
}
